.wrapper {
    width: 1520px;
    height: 2500px;
    padding: 10%;
    border-radius: 2%;
    background-color: #62daff;
    box-shadow: 4px 8px 12px #000000;
    background-image: linear-gradient(315deg, #2efbd2 0%, #00e1ff 74%);
  }
  